.block {
  display: flex;
  align-items: center;
  height: 44px;
  box-sizing: border-box;
  padding: 12px 16px;
  border-bottom: 1px solid rgba(11, 49, 87, 0.11);
}

.to {
  font-family: 'Montserrat', sans-serif;
  opacity: 0.5;
  font-weight: 600;
  width: 30px;
}

.family {
  color: #48C1C2;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.3px;
  line-height: 17px;
  width: 313px;
  text-align: left;
}