@import "reset.css";
body {
  margin: 0;
  background-color: #0B3157;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

}

.main {
  font-family: 'Montserrat', sans-serif;
  width: 375px;
  margin: 60px auto;
  background-color: white;
}